@import "./src/scss/variable";

.sidebar {
  .sidebar__wrapper {
    font-size: 1rem;
    display: inline-block;
    width: 18rem;
    height: calc(100vh - 90px);
    background: var(--sidebar-bg);
    z-index: 100;
  }

  .sidebar__divide {
    position: relative;
  }

  .sidebar__divide:after {
    content: "";
    position: absolute;
    border-top: 1px solid var(--navigation-text);
    width: inherit;
    top: .5rem;
    right: 3rem;
    left: 3rem;
  }


  .navbar {
    .navbar__brand {
      padding: 1.5rem 4rem 0 1.5rem;
    }

    .navbar__logo {
      margin: 0 auto;
      width: 120px;
      height: 40px;
      background: var(--img-logo-mp3) 50%/contain no-repeat;
    }

    .navbar__menu {
      padding-top: 1rem;
      position: relative;
    }

    .navbar__item {
      /*padding: .8rem 4rem .8rem 4rem;*/
      .item__content {
        padding: .8rem 4rem .8rem 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: .5rem;
        color: var(--navigation-text);
        font-size: 13px;
        font-weight: 700;
        border-left: 3px solid var(--sidebar-bg);

        :active {
          color: var(--text-primary);
        }
      }

      .active {
        color: var(--text-primary);
        background-color: var(--alpha-bg);
        border-left: 3px solid var(--purple-primary);
      }

      .icon {
        font-size: 1.5rem;
      }
    }

  }

  .sidebar__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .8rem 2rem;
    padding: 1rem .5rem;
    border-radius: 10px;
    background-color: var(--purple-primary);

    .text {
      font-size: 12px;
      font-weight: 700;
      color: var(--text-primary);
      text-align: center;
      margin-bottom: .5rem;
      padding: .2rem .5rem;
    }

    .btn {
      button {
        font-size: .8rem;
        font-weight: bold;
        color: var(--text-primary);
        border: 2px solid var(--text-primary);
        border-radius: 2rem;
        padding: .5rem 2rem;
        background-color: rgba(255, 255, 255, 0.1);

        a {
          color: white;
        }
      }
    }

  }

  .is_vip {
    background-image: var(--banner-vip-bg);

    &_btn {
      button {
        background: #ffdb00 !important;
        border-color: #ffdb00 !important;

        a {
          color: black !important;
        }
      }
    }

  }
}
