$--layout-bg: #282828;
$--primary-bg: #3d3d3d;
$--text-primary: #fff;
$--sidebar-bg: hsla(0,0%,100%,0.05);
$--navigation-text: #a0a0a0;




$--img-logo-mp3: url("https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg");