@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./variable";

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Inter','Arial',sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;
  background-color: $--layout-bg;
}
#root{
  position: relative;
  overflow: hidden;
}
.theme-bg{
  background-image: $--bg-img-eiffel;
  background-size: 1920px auto;
  background-repeat: repeat;
}